<nav class="navbar-custom navbar navbar-expand-sm ">
  <!-- <div class="container-fluid"> -->
  <a href="#" class="logo-box float-start">
    <a class="navbar-brand mb-1 h1 navbar-logo-text float-left" href="#">
      <%= image_tag 'logo.png', class:"d-inline-block align-center mx-2 float-left" %>
      HoldMyDog</a>
  </a>
  <!-- </div> -->
</nav>
<div class="background-img">
  <div class="form-bg">
    <div class="sign-up-form">
      <div class="text-head">
        <h1> Where you can hold a pet? </h1>
      </div>
      <div class="sign-up-inputs">
        <div class="country-select">
          <p class="text"> What is your country?</p>
          <select class="form-select">
            <option selected>Choose your country</option>
            <option value="1">Ukraine</option>
          </select>
        </div>
        <div class="address-form mt-4">
          <p class="text"> What is your address?</p>
          <select class="form-select">
            <option selected>Choose your city</option>
            <option value="1">Kyiv</option>
            <option value="2">Kharkiv</option>
            <option value="3">Zaporizhzhya</option>
            <option value="4">Lviv</option>
            <option value="5">Mykolayiv</option>
            <option value="6">Kryvyi Rih</option>
            <option value="7">Vinnytsia</option>
            <option value="8">Kherson</option>
            <option value="9">Poltava</option>
            <option value="10">Chernihiv</option>
          </select>
          <input class="form-control mt-2" type="text" placeholder="Zip-code">
          <input class="form-control mt-2" type="text" placeholder="Address line #1">
          <input class="form-control mt-2" type="text" placeholder="Address line #2">
        </div>
        <button type="button" class="btn btn-outline-success custom">Sign up</button>
      </div>
      <div class="notice">
        <p class="text-1 fw-bold"> Required fields marked with *</p>
        <p class="text-1">P.S. Don’t be scary to place your real name we protect your
          privacy and aligned with GDPR conventions</p>
      </div>
    </div>
  </div>
</div>
