<% if true %> <!-- set check if owner-->
<div id="add_pets" class="hidden position-fixed start-50 w-50 h-100 top-0 form-block d-flex " style="z-index:1;">
  <div class="form-block ">
    <h2 class="form-header mb-5">Tell us about your pet!</h2>
    <div class="name-gender ">
      <input class="form-control mt-2 fs-4" type="text" placeholder="Name">
      <select class="form-select mt-4 fs-4">
        <option selected>Choose gender</option>
        <option value="1">Male</option>
        <option value="1">Female</option>
      </select>
    </div>
    <div class="size-years mt-4">
      <div class="d-flex mb-3">
        <p class="text pt-2 w-100"> What is his weight?</p>
        <input class="form-control fs-4" type="text" placeholder="0">
      </div>
      <div class="d-flex mb-3">
        <p class="text pt-2 w-100"> What is his height?</p>
        <input class="form-control fs-4" type="text" placeholder="0">
      </div>
      <div class="d-flex mb-3">
        <p class="text pt-2 w-100"> How old is your pet?</p>
        <input class="form-control fs-4" type="text" placeholder="0">
      </div>
    </div>
   <div class="description mt-4">
      <p class="text pt-2"> What else you wish to tell about your pet?</p>
      <div class="form-group">
          <textarea class="w-100 ps-4 pt-4 fs-4" id="exampleFormControlTextarea1" rows="4"  placeholder="Additional information"></textarea>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-outline-success pet mt-4">Upload photo of your pet</button>
    </div>
    <button type="button" class="btn btn-secondary custom-1 mt-4" onclick="getElementById('add_pets').style.visibility='hidden'">Cancel</button>
    <button type="button" class="btn btn-outline-success pet mt-4">Add</button>
    <div class="mt-5 pt-5">
      <p class="fw-bold"> Required fields marked with *</p>
      <p class="">P.S. Don’t be scary to place your real name we protect your <br>
          privacy and aligned with GDPR conventions</p>
    </div>
  </div>
</div>
<% end %>

<main class=" container d-flex justify-content-start mt-5 h-100">
  <section class="side-menu d-flex flex-column align-items-center w-25">
    <div class="user-avatar " style="
    background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*); 
    "> <!-- set user.image-->
    
    </div>
    <div class="location mt-5">
      <h5 class="location-title primary-color title ">Location</h5>
      <div class="location-map" style="
    background-image: url(https://i0.wp.com/cssscript.com/wp-content/uploads/2018/03/Simple-Location-Picker.png?fit=561%2C421&ssl=1); 
    "> <!-- set map here-->
      </div>
    </div>
  </section>
  <section class="main-info w-75 d-flex flex-column">
    <div class="user-info">
      <div class="user-info-header">
        <div class=" d-flex justify-content-between primary-color title">
          <p>John Doe</p>
          <div class="d-flex ">
          <% if true %> <!-- current_user is owner-->
            <button class=" custom btn ps-4 pe-4" >Edit</button>
          <% end %>
          </div>
        </div>
        <div class="stars d-flex fs-1 ">
          <div>
            <% 2.times do  %>
                <span class="gold glyphicon glyphicon-star"></span>
            <% end %>
            <% 3.times do %>
                <span class="gold glyphicon glyphicon-star-empty"></span>
            <% end %>
          </div>
          <div class="d-flex"> 
            <p class="review-number fs-4 ms-3 mt-3 fw-bold">16 booking </p>  <!-- set current_user.num_bookings -->
            <p class="review-number fs-4 ms-3 mt-3 fw-bold"> 3 </p> <!-- set current_user.num_dogs -->
            <!--  if num dog == 1 
                    <p class="review-number fs-4 ms-3 mt-3 fw-bold"> dog </p>
                  else 
                    <p class="review-number fs-4 ms-3 mt-3 fw-bold"> dogs </p>
                  end
                  -->
            <p class="review-number fs-4 ms-3 mt-3 fw-bold"> dogs </p>
          </div>
        </div>
        <div class="info w-75 mt-3">
          <h6 class="fw-bold fs-4">About john:</h6> <!-- set User.name-->
          <p class="description ">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel quia, odio maxime nobis cum repellat dolorem
            possimus magni incidunt sunt non ipsa inventore temporibus magnam, pariatur quas nulla aliquam aut!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel quia, odio maxime nobis cum repellat dolorem
            possimus magni incidunt sunt non ipsa inventore temporibus magnam, pariatur quas nulla aliquam aut!
          </p>
        </div>
      </div>
    </div>
    <div class="reviews  mt-2 mb-3" >
      <p class="primary-color title">Pets</p>
      <div class="pet-scroll">
        <% 3.times do  %>
            <div class="reviews-container br-1 mb-2 d-flex p-3 h-auto ">
                <div class="review d-flex mt-3">
                <div class="comment user-avatar" style="
            background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/golden-retriever-royalty-free-image-506756303-1560962726.jpg?crop=0.672xw:1.00xh;0.166xw,0&resize=640:*); 
            "> <!-- set user.image-->
                </div>
                <div class="review-info w-75 ">
                    <div class="review-header ">
                    <div class="review-title d-flex justify-content-between primary-color">
                        <h4 class="fw-bold fs-1">John Doe</h4>
                        <div class="d-flex ">
                          <% if true %> <!-- current_user is owner-->
                          <h4 class="fw-bold fs-1 me-5">Small dog</h4>
                          <div class="edit-pet">
                            <button class=" custom btn  ps-4 pe-4 " onclick="getElementById('add_pets').style.visibility='visible'" >Edit</button>
                            <span class="btn trash glyphicon glyphicon-trash " style="z-index:0;"></span>
                          </div>
                          <% else %>
                            <h4 class=" edit-pet fw-bold fs-1 mt-1">Small dog</h4>
                          <% end %>
                        </div>
                    </div>
                    
                    <div class="d-flex">
                    <p class="date mt-1 fs-4 fw-bold">Height: 30cm</p>
                    <p class="date mt-1 fs-4 fw-bold ms-2">Weight: 10kg</p>
                    <p class="date mt-1 fs-4 fw-bold ms-2">Age: 2y</p>
                       
                    </div>
                    </div>
                    <div class="review-main">
                    <h6 class="fw-bold fs-5">About this pet:</h6>
                    <p class="description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel quia, odio maxime nobis cum repellat dolorem
                        possimus magni incidunt sunt non ipsadolor sit amet consectetur adipisicing elit. Vel quia, odio maxime nobis cum repellat dolorem
                        possimus magni incidunt sunt non
                    </p>
                    </div>
                </div>
                </div>
            </div>
        <% end %>
      </div>
       <% if true %> <!-- current_user is owner-->
        <button class=" add-more-pets start-100 primary-color mt-4 fs-3 " onclick="getElementById('add_pets').style.visibility='visible'" >+ Add more...</button> 
      <% end %>
    </div>
  </section>
</main>