// Place all the styles related to the address controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.background-img {
    background-image: image-url("backround-dog.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.location.btn {
    font-weight: bold;
    background-color: #ffffff;
    color: #20c997;
    box-shadow: 0 0 10px gray;
    height: 33px;
    width: 75px;
    font-size: 13px;
    border-radius: 4px;
}

.lines-input{
    width: 80%;
}
.form-select {
    box-shadow: 0 0 10px gray;
    height: 40px;
}
.form-control {
    box-shadow: 0 0 10px gray;
    height: 40px;
}

.text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

.text-head {
    font-family: Inter;
    font-size: 40px;
    font-weight:bold;
    color: #ffffff;
}
.notice{
    margin-top: 250px;
}
