/*
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 */
@import 'bootstrap/scss/bootstrap';


$primary_font_family: 'Inter';
$primary_background_color: #20C997;



/* change the background color */

.navbar-custom {
  z-index:2;
  background: $primary_background_color;
  height: 50px;
  width: 100%;
  box-shadow: 0 0 10px gray;


  .navbar-logo-text{
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
  }
  background: #20C997;
 // add navbar and background image
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,.5);

  .navbar-brand {
    color: white;
    font-weight: bold;
  }

  .logo-box{
    margin-left: 40px;
  }
}
.nav-block {
  margin-left: 100px;

  .block-item {
    margin-left: 100px;
  }
}

.log-out {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 4px;
  margin-left: 10px;

}
