/*
 *= require_tree .
 *= require_self
 *= require bootstrap/dist/css/bootstrap
 */
@import 'bootstrap/scss/bootstrap';
@import url("stylesheets/sign-up.scss");

$primary_font_family: 'Inter';
$primary_background_color: #20C997;



/* change the background color */

.navbar-custom {
  background: $primary_background_color;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,.5);
  height: 3em;


  .navbar-logo-img{
    height: 1.3em !important;
  }

  .navbar-logo-text{
    font-family: $primary_font_family;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    color: white;
  }

  .logo-box{
    margin-left: 20%;
  }
}

.navbar-logo-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 1800;
    font-size: 128px;
    line-height: 34px;
  }
