.landing-head {
    font-size: 72px;
    font-weight: bold;
    color: white;
}

.landing-title {
    font-size: 48px;
    margin-top: 80px;
}

.landing-text {
    font-size: 28px;
    color: white;
}

.landing-form {
    background-color: white;
    padding: 2em 0 0 2em;
    border-radius: 20px;
    width: 330px;
    height: 265px;
}

.landing-input {
    height: 40px;
    width: 90%;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 0 0 0 16px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    border: none !important;
}

.landing.btn {
    color: white  ;
    background-color: #20C997;
    font-size: 20px;
    height: 38px;
    width: 90px;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    font-weight: bold;
}

.actions {
    margin-left: 12%;
}

.landing-avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.landing-background {
    background-color: #20C997;

}

.icon-white {
    color: white;

    font-size: 110px;
}