.order-details {
    border: #20C997 solid 1px;
    box-shadow: 0 0 10px #20C997;

    margin-right: 60px;
    margin-left: -40px;
    
    min-height: 200px;
    height: auto;

    padding: 20px;

}

.details {
    text-align: center;
    margin-right: 60px;
    margin-left: -40px;
    
}