// Place all the styles related to the pet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.background-img {
    background-image: image-url("backround-dog.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.lines-input{
    width: 80%;
}

.text {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.pet.btn {
    box-shadow: 0 0 10px gray;
    font-weight: bold;
    background-color: #ffffff;
    color: #20c997;
    height: 33px;
    width: auto;
    font-size: 13px;
    border-radius: 4px;
}
.custom-1.btn {
    box-shadow: 0 0 10px gray;
    font-weight: bold;
    color: #ffffff;
    height: 33px;
    width: auto;
    font-size: 13px;
    border-radius: 4px;
}

.text-head {
    font-family: Inter;
    font-weight: bold;
    color: #ffffff;
}

.notice-pet{
    margin-top: 130px;
}

