// Place all the styles related to the SitterProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primary_font_family: 'Inter';
$primary_background_color: #20C997;
$border-radius: .25rem;

.background-img-height{
  height: 50em;
}

.hidden {
    visibility: hidden;
}

.form-availability{
  width: 75%;
}

.check-pets {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

}

.checkbox-pet {
    height: 15px;
    width: 15px;
    background-color: #20C997; // set white color if sitter don`t have this pet
    border: 1px gray solid;
}

.user-info {
    height: 250px;
    width: 85%;
  }

  .primary-color {
    color: #20C997;
  }

  .title {
    font-weight: bold;
    font-size: 25px;
  }

  .custom.btn {
    color: white  ;
    background-color: #20C997;
    font-size: 20px;
    height: 38px;
    margin-left: 10px;
    border-radius: 5px;
  }
  .gold.glyphicon {
      color: gold;
  }

  .user-avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .comment.user-avatar {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }

  .description {
    font-size: 12px;
    width: auto;
    word-break: break-all;
  }
  .availability {
      width: 220px;
      height: auto;
      max-height: 200px;
  }

  .location-map {
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 240px;
    height: 250px;
  }
  .pet-sizes {
    width: 250px;
  }

  .reviews{
      width: 85%;
  }

  .reviews-scroll {
    max-height: 800px;
    overflow: auto;
  }

  .reviews-container {
    border-radius: 15px;
    background-color: rgba(0,0,0,.03);
  }

  .show-more {
    position: relative;
    text-align: end;
  }

  .add-more {
    text-decoration: none;
    border: none;
    font-weight: bold;
    background-color: transparent;
  }


  .form-block-search{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: $primary_background_color;
    padding: 1em;
    color: white;
    width: 35em !important;
    margin-top: 5em !important;
    border-radius: $border-radius;

  .form-header{
    font-family: $primary_font_family;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 48.41px;
    color: white;
  }

  .form-field{
    height: 40px;
    width: 420px;
    left: 1067px;
    top: 203px;
    border-radius: 4px;
    padding: 0 0 0 16px;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,.5);
    border: none !important;
  }



  .form-field-textarea{
    width: 420px;
    left: 1067px;
    top: 203px;
    border-radius: 4px;
    padding: 16px;
  }

  .sign-up-btn{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: $primary_background_color !important;
    height: 39px;
    width: 91px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    padding: 10px, 16px, 10px, 16px;
  }

  .form-lable{
    margin: 10px 0;
  }

  .next-step-btn, .button-choice{
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: $primary_background_color !important;
    height: 39px;
    width: 100px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    padding: 10px, 20px !important;
  }

}

.choice-block{
  width: 4%;
  float: right;
  margin: -8% -15% 0 0;

  .button-choice{
    background-color: $primary_background_color;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    height: 39px;
    width: 100px;
    left: 0px;
    top: 0px;
    border-radius: 4px;
    padding: 10px, 20px !important;
    color: white;
    margin: 0px -30% 0 0;
  }
  .cost-choice{
    padding-bottom: 75%;
  }
}




