<nav class="navbar-custom navbar navbar-expand-sm py-0 align-text-bottom align-bottom">
  <!-- <div class="container-fluid"> -->
    <a href="#" class="logo-box float-start">
      <a class="navbar-brand mb-2 my-2 h1 navbar-logo-text float-left aalign-text-bottom align-bottom" href="#">
      <%= image_tag 'logo.png', class:"d-inline-block align-bottom align-text-bottom mx-2 float-left navbar-logo-img" %>
      HoldMyDog</a>
    </a>
  <!-- </div> -->
</nav>
<div class="background-img">
  <div class="form-bg">
    <div class="sign-up-form">
      <div class="text-head">
        <h1> Tell us about your pet! </h1>
      </div>
      <div class="sign-up-inputs">
        <div class="name-gender">
          <input class="form-control mt-2" type="text" placeholder="Name">
          <select class="form-select mt-2">
            <option selected>Choose gender</option>
            <option value="1">Male</option>
            <option value="1">Female</option>
          </select>
        </div>
        <div class="size-years mt-4">
          <div class="right-side">
            <input class="form-control" type="text" placeholder="0">
            <div class="pt-2">
              <input class="form-control pt-2" type="text" placeholder="0">
            </div>
            <div class="pt-2">
              <input class="form-control pt-2" type="text" placeholder="0">
            </div>
          </div>
          <p class="text-2 pt-2"> What is his weight?</p>
          <p class="text-2 pt-2"> What is his height?</p>
          <p class="text-2 pt-2"> How old is your pet?</p>
        </div>
        <div class="description mt-4">
          <p class="text pt-2"> What else you wish to tell about your pet?</p>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
        <div>
        <button type="button" class="btn btn-outline-success custom mt-4">Upload photo of your pet</button>
        </div>
        <button type="button" class="btn btn-secondary custom-1 mt-4">Skip this step</button>
        <button type="button" class="btn btn-outline-success custom mt-4">Next Step</button>
      </div>
      <div class="notice">
        <p class="text-1 fw-bold"> Required fields marked with *</p>
        <p class="text-1">P.S. Don’t be scary to place your real name we protect your
          privacy and aligned with GDPR conventions</p>
      </div>
    </div>
  </div>
</div>
